<footer class="navbar-fixed-bottom">
  <small>
    TxT by <%= link_to "Faisal Hassan", "https://faisalhassanx.bitbucket.io/", 
                        target: "_blank" %>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to 'About', about_path, class: "btn btn-link" %>
      </li>
      <li>
        <%= link_to 'Contact', contact_path, class: "btn btn-link" %>
      </li>
    </ul>
  </nav>
</footer>